@import '../../index.css';


#topSecCont {
    width: 100vw;
    height: 25vh;
    background-color: #0B3954;
    align-items: center;
    justify-content:center;
    display: flex;
}

.Aligner-item {
    max-width: 50%;
    color: white;
    margin: 0rem;
}


.border{
    stroke: black;
    width: 1px;
    height: 50x;
    margin-left: 25px;
    margin-right: 25px;
}

.topTextThree{
    font-family: hero-new,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0rem;
}

.topTextTwo{
    font-family: vox, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0rem;
}

.topTextOne{
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0rem;
    margin-right: -5px;

}
